body,div,table{margin:0;padding:0;}
span{display: block;}

.data-list .goods-btn-del{
    width: 50px;
    height: 25px;
    line-height: 25px;
    background-color: #FF9933;
    color:#FFFFFF;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.data-list td{
    width: 100px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.row-style-0{
    background-color: #e3e3e3;
}

.row-style-1{
    background-color: #cccccc;
}