body,div,table{margin:0;padding:0;}
span{display: block;}

/* ==== admin main nav ==== */
.admin-nav-con{
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
}


.admin-nav-con .menu-con{
    width: 140px;
    height: 100%;
    margin: auto;
}

.menu-con .menu{
    width: 100%;
    height: 80px;
    margin: 10px auto;
    color:#FFFFFF;
    border:1px dashed #606460;
    border-radius: 5px 5px 5px 5px;
    background-color: #999999;
    cursor: pointer;
}

.menu-con .menu span{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #606460;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


.menu-con .menu-item-con{
    font-size: 12px;
    font-weight: bold;
}




.admin-con{
    width: 100%;
    height: 100%;
    margin: 0 0 0 155px;
}

.admin-con .area-edit-g{
    width: 500px;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #DDDDDD;
}



.data-list .goods-btn-del{
    width: 50px;
    height: 25px;
    line-height: 25px;
    background-color: #FF9933;
    color:#FFFFFF;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.data-list td{
    width: 100px;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.row-style-0{
    background-color: #e3e3e3;
}

.row-style-1{
    background-color: #cccccc;
}



/*== ====== admin_config============*/

.admin-config{
    width: 800px;
    height: 100%;
    margin: 0 0 0 160px;
}

.admin-config .con-config {
    border: 1px solid #606460;
}