body, div, table, ul,h3,span{
    margin: 0; padding: 0; display: block;
}

input{
    border: 0;
}

body{
    background-color: #FFFFFF;
}

li,a{
    text-decoration: none;
    list-style: none;
    display: block;
    color:#000000;
}

a:link{color:#000000}
a:hover{color:#606460}

.clear{clear:both;}
.vertical{float: left;}

/*=========================================Index===============================================*/

.root{
    width: 100%;
    height: 100%;
}




/*======= main body start =========*/
.main-body{
    width: 100%;
    height: 100%;
}

.bd-container{
    width: 1000px;
    height: 100%;
    margin: 10px auto ;
}

/*-- left --*/
.bd-container .bd-left{
    width: 208px;
    height: 100%;
    float: left;
    border-left: 1px solid #FF9933;
    border-right: 1px solid #FF9933;
    border-bottom: 1px solid #FF9933;
}

.bd-left span{
    width: 210px;
    height: 30px;
    line-height: 30px;
    background-color: #FF9933;
    color:#FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

}


/*-- about recommend --*/
.recommend-item-con{
    width: 160px;
    height: 160px;
    margin: 10px auto;
    border: 1px dashed #DDDDDD;
}

.recommend-item-label{
    width: 100%;
    height: 38px;
    opacity: 0.6;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    position: relative;
    z-index: 100;
    top:-50px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    color:#000000;
}


/*-- about goods item --*/

.goods-list{
    float: left;
}

.goods-item{
    width: 160px;
    height: 220px;
    border: 1px dashed #DDDDDD;
    margin: 10px  0 0 10px;
}

.goods-item .goods-img{
    width: 160px;
    height: 160px;
}





/*-- right --*/
.bd-container .bd-right{
    width: 760px;
    height: 100%;
    float: left;
    margin: 0 0 0 15px;
}

.bd-right .type-con{
    width:750px;
    height: 75px;
    border: 2px solid #e3e3e3;
    background-color: #f9f9f9;
    font-size: 12px;
}

.type-con ul li{
    float:left;
}

.sub-up .sub-title-1{
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;

}

.sub-up .sub-title-2{
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sub-middle{
    width: 720px;
    height: 2px;
    border-bottom: 1px dotted #DDDDDD;
    margin: 5px 0 0 20px;
}


/*--page container --*/
.bd-page-con{
    width:754px;
    height: 30px;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
    margin:10px 0 0 0;
}

.display-con{
    width: 100%;
    height:100%
}




/*=========================================Login===============================================*/
.root-login{
    width: 100%;
    height: 100%;
}

.login-panel{
    width: 815px;
    height: 450px;
    margin: 50px auto;
}

.login-title-con{
    width: 815px;
    height: 50px;
    border-bottom: 5px solid #FF9933;
}
.login-title{
    font-weight: bold;
    font-size: 25px;
    color: #FF9933;
    padding: 18px 0 0 20px;
    display: block;
}


.login-window{
    width: 500px;
    height: 270px;
    margin: 90px auto 0 auto;
    color:#000000;
    font-size: 14px;
}

.login-window .u-row{
    float: left;
}

.login-window li{
    height: 30px;
    margin:20px 0 0 0;
}

.login-window b{
    display: block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: right;
}

.login-window .u-in{
    width: 200px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #FF9933;
    margin:0 0 0 20px;
    padding-left: 5px;
}

.login-window .login-btn{
    width: 400px;
    height: 45px;
    margin: auto;
}

.login-window a{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color:#FF9933 ;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.login-window .btn-reg{
    background-color:#6699cc ;
    margin: 20px 0 0 10px;
}

.bottom-line{
    width: 100%;
    height: 5px;
    background-color:#FF9933 ;
}

