<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <style type="text/css">
        body,div{margin: 0; padding: 0;}
        .login-panel{
            width: 350px;height: 200px;
            border: 1px solid #606460;
            border-radius: 5px 5px 5px 5px;
            margin: auto;
        }


    </style>



    <title>admin login</title>
</head>
<body>

    <div class="root">
            <div class="login-panel">

                <form name="login" action="/admin">
                    <input type="text" name="uName"  />
                    <input type="submit"  value="submit"  />
                </form>


            </div>

    </div>

</body>
</html>