<!DOCTYPE html>
<div class="footer-ourservice">
    <ul>
        <li><img src="{{STATIC_DOMAIN}}/static/imgs/our_img01.jpg"></li>
        <li>
            <a href="#">
                <img src="{{STATIC_DOMAIN}}/static/imgs/our_img02.jpg">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="{{STATIC_DOMAIN}}/static/imgs/our_img03.jpg">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="{{STATIC_DOMAIN}}/static/imgs/our_img04.jpg">
            </a>
        </li>

    </ul>
</div>

<div class="footer-base-line"></div>