<div class="admin-nav-con">
    <div class="menu-con">
        <div class="menu menu-config">
            <span>Config</span>
            <div class="menu-item-con">
                EEEEEEE
            </div>
        </div>
        <div class="menu menu-user">
            <span>User</span>
            <div class="menu-item-con">
                EEEEEEE
            </div>

        </div>
        <div class="menu menu-menu">
            <span>Menu</span>
            <div class="menu-item-con">
                EEEEEEE
            </div>

        </div>

    </div>

</div>