<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_admin.css">

    <script type="text/javascript" src="{{STATIC_DOMAIN}}/static/js/libs/sea.js"></script>
    <script type="text/javascript" src="{{STATIC_DOMAIN}}/static/js/libs/moduleconfig.js"></script>

    <title></title>
</head>
<body>

        <table class="data-list">

            {% for key, val in allGoodsList %}
            <tr class="row-style-{{  Number(key)%2 }}">
                <td class="g-id">{{val['gId']}}</td>
                <td class="g-label">{{val['label']}}</td> <td><span class="goods-btn-del" gid="{{val['gId']}}">del</span></td>
            </tr>
            {% endfor %}

        </table>




<script>
    var classPaths = ['{{STATIC_DOMAIN}}/static/js/gl/gl_admin.js'];
    seajs.use(classPaths,function(GM){
        GM.init();
    })


</script>



</body>
</html>