{% include 'gl_admin_header.html' %}
</head>
<body>

    {% include 'gl_admin_nav.html' %}

    <div class="admin-con">

        <div class="area-edit-g">
            <table class="data-list">
                {% for key, val in allGoodsList %}
                <tr class="row-style-{{  Number(key)%2 }}">
                    <td class="g-id">{{val['gId']}}</td>
                    <td class="g-label">{{val['label']}}</td> <td><span class="goods-btn-del" gid="{{val['gId']}}">del</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

</body>




<script>
    var classPaths = ['{{STATIC_DOMAIN}}/static/js/gl/gl_admin.js'];
    seajs.use(classPaths,function(GM){
        GM.init();
    })


</script>


</html>