{% include "gl_header.html" %}

    <div class="detail-container">
        <div class="detail-left">
            <div class="img-con">
                <img alt="XXXXX" src="http://m1.ykimg.com/0A020000151736C332B9BD63642DB6A8" >
            </div>
        </div>
        <div class="detail-right">
            <div class="detail-title">
                <b>来疯主播</b>
            </div>

            <div class="detail-desc">


            </div>


        </div>
        <div class="clear"></div>

    </div>



{% include "gl_footer.html" %}

    </body>
</html>