<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_skin.css">
    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_header.css">
    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_footer.css">
    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_login.css">
    <link rel="stylesheet" href="{{STATIC_DOMAIN}}/static/css/gl_detail.css">

    <script type="text/javascript" src="{{STATIC_DOMAIN}}/static/js/libs/sea.js"></script>
    <script type="text/javascript" src="{{STATIC_DOMAIN}}/static/js/libs/moduleconfig.js"></script>
    <title>Good Life</title>
</head>

<body>
<!-- header bar -->
<div class="header-bar">
    <div class="bar-container">
        <img align="middle" src="{{STATIC_DOMAIN}}/static/imgs/s_hotline.jpg" alt="服务热线" width="85" height="20">
        <span>010-55555</span>
        <ul class="bar-item">
            <li><a href="/gl_login" target="_blank">[登录]</a></li>
            <li><a href="/gl_login">[注册]</a></li>
            <li><a href="/gl_login">[用户中心]</a></li>
            <li><a href="/gl_login">[帮助]</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>


<!-- header search -->
<div class="header-search">
    <div class="search-container">
        <img class="header-logo" src="{{STATIC_DOMAIN}}/static/imgs/logo.jpg" >
        <div class="search-panel">
            <ul>
                <li>
                    <div class="search-in-con">
                        <input class="search-in vertical"  type="text" id="search-in">
                        <span class="search-label vertical">搜索</span>
                    </div>
                    <div class="clear"></div>
                </li>

                <li>
                    <div class="search-hot">
                        <img src="{{STATIC_DOMAIN}}/static/imgs/s_ico01.jpg">
                        <b style="padding-left: 5px;">热门搜索:</b>
                        <a href="#" style="padding-left: 10px;">来疯</a>
                        <a href="#" style="padding-left: 10px;">来疯</a>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>

        <!-- 购物车 -->
        <div class="top-right-con">

        </div>
    </div>

</div>

<!-- header navigation -->

<div class="header-nav">
    <div class="nav-container">
        <a class="nav-menu-all">全部商品分类</a>
        <div class="nav-menu-items vertical">
            <ul>
                <li><a href="/gl_index" >来疯</a></li>
                <li><a href="#" >来疯</a></li>
                <li><a href="#" >来疯</a></li>
                <li><a href="#" >来疯</a></li>
                <li><a href="#" >来疯</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
