{% include "gl_header.html" %}


        <script>

            window.CATCH =
            {
                //渲染数据
                goodsList:[
                    {% for key, val in allGoodsList %}
                        {   {% for data in val %}  {{loop.key}}:'{{data}}'{% if !loop.last %},{% endif %}  {% endfor %}  } {% if !loop.last %},{% endif %}
                    {% endfor %}
                ]

            }

        </script>

        <!-- main nav -->
        <div class="main-container">
            <div class="bd-container">
                <div class="bd-left">
                    <span>推荐推荐</span>
                    <div class="rec-con">
                    </div>
                </div>

                <div class="bd-right">
                    <div class="type-con">
                            <ul>
                                <!-- up -->
                                <li>
                                    <div class="sub-up">
                                        <b class="sub-title-1">主分类</b>
                                        <b class="sub-title-1">全部</b>
                                        <a  class="sub-title-2" href="#">来疯1</a>
                                        <a class="sub-title-2" href="#">来疯2</a>
                                    </div>
                                </li>

                                <!-- middle -->
                                <li>
                                    <div class="sub-middle"></div>
                                </li>

                                <!-- bottom -->
                                <li>
                                    <div class="sub-up">
                                        <b class="sub-title-1">子分类</b>
                                        <b class="sub-title-1">全部</b>
                                        <a  class="sub-title-2" href="#">来疯A</a>
                                        <a class="sub-title-2" href="#">来疯B</a>
                                    </div>

                                </li>
                            </ul>
                    </div>

                    <!-- page container-->

                    <div class="bd-page-con clear">
                        <!-- todo  page control-->
                    </div>

                    <div class="display-con clear">
                        <!-- todo  display goods -->
                    </div>

                </div>

            </div><!--end bd-container -->

        </div>

        <div class="clear"></div>

        {% include "gl_footer.html" %}



    <script>
        var classPath = [
              'http://10.155.11.94/static/js/gl/gl_main.js'
        ];
        seajs.use(classPath,function(M){
            M.init();
        })

    </script>


</body>
</html>