<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://10.155.11.94/static/css/gl_skin.css">
    <script type="text/javascript" src="http://10.155.11.94/static/js/libs/sea.js"></script>
    <script type="text/javascript" src="http://10.155.11.94/static/js/libs/moduleconfig.js"></script>
    <title>Good Life</title>
</head>
<body>

    <div class="root">
        <!-- top bar-->
        <div class="topbar">
            <div class="topbar-con">
                <img align="middle" src="http://10.155.11.94/static/imgs/s_hotline.jpg" alt="服务热线" width="85" height="20">
                <span>010-55555</span>
                <ul class="top-item">
                    <li><a href="/gl_login" target="_blank">[登录]</a></li>
                    <li><a href="/gl_login">[注册]</a></li>
                    <li><a href="/gl_login">[用户中心]</a></li>
                    <li><a href="/gl_login">[帮助]</a></li>
                </ul>
            </div>
        </div>

        <!-- Logo , search, car -->
        <div class="main-top">
            <div class="top-header">
                <img class="top-log-con" src="http://10.155.11.94/static/imgs/logo.jpg" >
                <div class="top-search-con">
                    <ul>
                        <li>
                            <ul class="search-body">
                                <li>
                                    <div class="search-in-con">
                                        <input class="search-in"  type="text" id="search-in">
                                    </div>
                                </li>
                                <li>
                                    <span class="search-label">搜索</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="search-hot clear">

                                <ul>
                                    <li>
                                        <img src="http://10.155.11.94/static/imgs/s_ico01.jpg">
                                    </li>
                                    <li>
                                        <b style="padding-left: 5px;">热门搜索:</b>
                                    </li>
                                    <li>
                                        <a href="#" style="padding-left: 10px;">来疯</a>
                                    </li>
                                    <li>
                                        <a href="#" style="padding-left: 10px;">来疯</a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>

                <!-- 购物车 -->
                <div class="top-right-con">

                </div>
            </div>

        </div>

        <!-- main nav -->
        <div class="nav-main">
            <div class="nav-main-body">
                <div class="nav-menu">
                    <a class="nav-menu-all">全部商品分类</a>
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="#" class="main-item">来疯</a></li>
                        <li><a href="#" class="main-item">来疯</a></li>
                        <li><a href="#" class="main-item">来疯</a></li>
                        <li><a href="#" class="main-item">来疯</a></li>
                        <li><a href="#" class="main-item">来疯</a></li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>

        </div>


        <div class="main-body">
            <div class="bd-container">
                <div class="bd-left">
                    <span>推荐推荐</span>
                    <div class="rec-con">

                    </div>
                </div>

                <div class="bd-right">
                    <div class="type-con">
                            <ul>
                                <!-- up -->
                                <li>
                                    <ul class="sub-up">
                                        <li>
                                            <b class="sub-title-1">主分类</b>
                                        </li>
                                        <li>
                                            <b class="sub-title-1">全部</b>
                                        </li>
                                        <li>
                                            <a  class="sub-title-2" href="#">来疯1</a>
                                        </li>
                                        <li>
                                            <a class="sub-title-2" href="#">来疯2</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- middle -->
                                <li>
                                    <div class="sub-middle"></div>
                                </li>

                                <!-- bottom -->
                                <li>
                                    <ul class="sub-up">
                                        <li>
                                            <b class="sub-title-1">子分类</b>
                                        </li>
                                        <li>
                                            <b class="sub-title-1">全部</b>
                                        </li>
                                        <li>
                                            <a  class="sub-title-2" href="#">来疯A</a>
                                        </li>
                                        <li>
                                            <a class="sub-title-2" href="#">来疯B</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                    </div>

                    <!-- page container-->

                    <div class="bd-page-con clear">
                        <!-- todo  page control-->
                    </div>

                    <div class="display-con clear">
                        <!-- todo  display goods -->
                    </div>

                </div>

            </div><!--end bd-container -->

        </div>

        <div class="clear"></div>

        {% include "footer.html" %}

    </div>



    <script>
        var classPath = [
              'http://10.155.11.94/static/js/gl/gl_main.js'
        ];
        seajs.use(classPath,function(M){
            M.init();
        })

    </script>


</body>
</html>