<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://10.155.11.94/static/css/gl_skin.css">
    <script type="text/javascript" src="http://10.155.11.94/static/js/libs/sea.js"></script>
    <script type="text/javascript" src="http://10.155.11.94/static/js/libs/moduleconfig.js"></script>

    <title>登录</title>
</head>


<body>
    <div class="root-login">
        <div class="login-panel">
            <div class="login-title-con">
                 <span class="login-title"> 登录</span>
            </div>

            <div class="login-window">
                <ul>
                    <li>
                        <b class="u-n u-row">用户名:</b>
                        <input class="u-in u-in-name u-row" type="text" value="请输入用户名">
                    </li>
                    <div class="clear"></div>
                    <li>
                        <b class="u-p u-row">密码:</b>
                        <input class="u-in u-in-password u-row" type="password" >
                    </li>
                    <div class="clear"></div>

                    <li>
                        <div class="login-btn">
                            <a class="u-row btn-login">登录</a>
                            <a class="u-row btn-reg" href="#">注册</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>

            <div class="bottom-line">

            </div>

        </div>

        {% include "footer.html" %}


    </div>

</body>
</html>