<html>
<head>
  <title>{{desc}}</title>
  {% include "base.html" %}
  
  <style>


		
	</style>

</head>

<body >
	
	<div class="container">
		<ul>
			{% for roomInfo in roomList %}
				<li>
					<div class='room-info'>
						<div class='room-icon'></div>
						<div class='room-pcount'>
                            <span>{{roomInfo.pCount}}</span>
                            <span>roomid:{{roomInfo.roomId}}</span>
                        </div>
						<div class='room-add'>
                            <a href="addroom?room={{roomInfo.roomId}}&uId={{Math.floor(Math.random()*1000+1)}}">加入</a>
                        </div>
					</div>
				</li>
				
			{% endfor %}
		</ul>
	
	</div>
	
	
	<script type="text/javascript">

	</script>
	
	
</body>
</html>