<html>
<head>
  <title>{{desc}}</title>
  {% include "base.html" %}
  
  <style>


		
	</style>

	<script type="text/javascript" src="http://10.155.11.94/staitc/js/sea.js"></script>
    <script type="text/javascript" src="http://10.155.11.94/static/js/moduleconfig.js"></script>
	
</head>

<body >
	
	<div class="container">
		<ul>
			{% for roomInfo in roomList %}
				<li>
					<div class='room-info'>
						<div class='room-icon'></div>
						<div class='room-pcount'>
                            <span>{{roomInfo.pCount}}</span>
                            <span>roomid:{{roomInfo.roomId}}</span>
                        </div>
						<div class='room-add' roomId={{roomInfo.roomId}}>
                            <a href="addroom?room={{roomInfo.roomId}}">加入</a>
                        </div>
					</div>
				</li>
				
			{% endfor %}
		</ul>
	
	</div>
	
	
	<script type="text/javascript">

	</script>
	
	
</body>
</html>